@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  div#container {
    min-width: initial;
  }

  div.memberwrapper {
    z-index: 10000011;
    top: 0;
    position: absolute;
    box-shadow: 2px 0px 10px #333;
    transform: translateX(170px);
    visibility: hidden;
    transition: all 0.2s ease;
  }

  body.rightbar div.memberwrapper {
    transform: translateX(0);
    visibility: visible;
  }

  div.buffermainwrapper {
    position: initial;
  }

  div#sidebarwrapper {
    z-index: 10000011;
    left: 0;
    overflow-y: auto;
    background-color: #C0DBFF;
    box-shadow: 0px 0px 10px #333;
    transform: translateX(-201px);
    visibility: hidden;
    transition: all 0.2s ease;
  }

  body.leftbar div#sidebarwrapper {
    transform: translateX(0);
    visibility: visible;
  }

  #headercell {
    display: none;
  }

  #mainwrapper {
    padding: 0;
  }

  .mainContainer, table.buffer {
    border: none;
    table-layout: fixed;
  }

  td.statuscell div.status h2.bufferHeading span.label {
    display: block;
    margin: 0;
    line-height: 30px;
    padding: 0px 2rem;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buffer.conversation td.statuscell div.status h2.bufferHeading span.label {
    padding: 0 0 0 2rem;
  }

  .showMembers div.buffermain {
    padding: 0;
  }

  .time-24hr.time-noseconds td.timecell, #timeContainer {
    display: none;
  }

  div.nickinputwrapper {
    margin: 9px 9px 10px 9px;
  }

  .extras span.extrasBar {
    font-size: 10px;
  }

  div.dateWrapper table, div.log div.dateChange p {
    font-size: 11px;
  }

  td.statuscell div.status h2.bufferHeading {
    font-size: 10px;
    padding: 0px;
  }

  span.topic {
    display: none; /* hide, for now */
  }

  .bufferHead {
    padding: 2px;
    height: 30px;
  }

  td.statuscell {
    height: 30px;
  }

  div.log div.me a.server,
  div.log div.me a.user,
  div.log div.messageRow,
  div.shim,
  td.inputcell textarea,
  td.nickcell a.nick {
    font-size: 12px;
  }

  td.statuscell div.status p.buttons button.options {
    width: 2rem;
    height: 2rem;
    position: relative;
  }

  button.responsive-addon {
    padding: 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    font-size: 1.8rem;
    line-height: 2rem;
    transition: visibility 0.0s linear 0.2s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    display: none;
  }

  body.inchannel #buffersContainer.canShow.showing ~ button#membersListBtn,
  #buffersContainer.canShow ~ button#bufferMenuBtn {
    display: block;
  }

  button#bufferMenuBtn {
    top: 1px;
    left: 1px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+IDxzdmcgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiBpZD0ic3ZnMiIgdmlld0JveD0iMCAwIDMyIDMyIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiPiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC0xMDIwLjM2MjIpIiBpZD0ibGF5ZXIxIj4gPHJlY3QgeT0iMTAyMy44NjIyIiB4PSIxIiBoZWlnaHQ9IjUiIHdpZHRoPSIzMCIgaWQ9InJlY3Q0MjQ4IiBzdHlsZT0iZmlsbDojMDAwMDAwO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDo1O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiIC8+IDxyZWN0IHN0eWxlPSJmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjU7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MSIgaWQ9InJlY3Q0MjUwIiB3aWR0aD0iMzAiIGhlaWdodD0iNSIgeD0iMSIgeT0iMTAzMy44NjIyIiAvPiA8cmVjdCB5PSIxMDQzLjg2MjIiIHg9IjEiIGhlaWdodD0iNSIgd2lkdGg9IjMwIiBpZD0icmVjdDQyNTIiIHN0eWxlPSJmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjU7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MSIgLz4gPC9nPiA8L3N2Zz4g");
  }

  button#membersListBtn {
    top: 1px;
    right: calc(2rem + 2px);
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0ic3ZnMiIKICAgdmlld0JveD0iMCAwIDMyIDMyIgogICBoZWlnaHQ9IjMyIgogICB3aWR0aD0iMzIiPgogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTEwMjAuMzYyMikiPgogICAgPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS43MjQ5NjcsMCwwLDEuNjk2NzI2LC05Ljg2MDY2MSwtNzMyLjUxMTY0KSIKICAgICAgIHN0eWxlPSJmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3BhY2l0eToxIj4KICAgICAgPHBhdGgKICAgICAgICAgZD0ibSA3LjMyNjk1NTUsMTA1MS4yODg5IDAsLTIuMjQxMSBxIDAsLTAuOTExMiAwLjgxMjY3NywtMi4wMTkzIDAuODEyNjc3LC0xLjEyMDYgMS45ODI0Mzk1LC0xLjg4NCAxLjE4MjA3NSwtMC43NjM0IDIuMTE3ODg1LC0wLjc2MzQgbCAwLjIzMzk1MywwIDAsLTAuNzI2NSBxIC0wLjY3NzIzMSwtMC41NjY0IC0xLjIwNjcwMiwtMS44MSAtMC4zOTQwMjYsLTAuMTM1NSAtMC43MTQxNzEsLTAuNzM4OCAtMC4zMjAxNDYsLTAuNjAzNCAtMC4zMjAxNDYsLTEuMjA2NyAwLC0wLjMwNzkgMC4wODYxOSwtMC41MDQ5IDAuMDk4NTEsLTAuMjA5MyAwLjI3MDg5MywtMC4yMDkzIGwgLTAuMDQ5MjUsLTAuODM3MyBxIDAsLTIuMDE5NCAxLjI1NTk1NSwtMy4zIDEuMjU1OTU1LC0xLjI5MjkgMy4yMDE0NTUsLTEuMjkyOSAxLjI4MDU4MiwwIDIuMzE0ODk4LDAuNjE1NyAxLjAzNDMxNiwwLjYwMzMgMS41ODg0MTQsMS42NzQ2IDAuNTY2NDExLDEuMDcxMyAwLjU2NjQxMSwyLjM2NDIgbCAtMC4wMjQ2MywwLjY3NzIgcSAwLjQ0MzI3OSwwIDAuNDQzMjc5LDAuNjg5NSAwLDAuNzUxMSAtMC4zNTcwODYsMS4zNzkxIC0wLjM1NzA4NSwwLjYyOCAtMC43NTExMSwwLjcwMTkgLTAuNTE3MTU4LDEuMTY5NyAtMS4yMTkwMTYsMS43OTc3IGwgMCwwLjcyNjUgMC4xODQ3LDAgcSAwLjk0ODEyMywwIDIuMTQyNTEyLDAuNzg4IDEuMTk0Mzg5LDAuNzc1OCAxLjk4MjQzOSwxLjg3MTcgMC43ODgwNTEsMS4wODM1IDAuNzg4MDUxLDEuOTU3OCBsIDAsMi4yOTAzIC0xNS4zMzAwNDMzLDAgeiIgLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
  }

  button#memberListBtn {
    border: 1px solid green;
  }


  body.leftbar button#bufferMenuBtn,
  body.rightbar button#memberListBtn {
    visibility: hidden;
    transition: none;
  }

  table.channel.active td.statuscell div.status p.buttons button:not(.options),
  table td.statuscell div.status p.buttons button:not(.options) {
    display: none;
  }

  td.statuscell div.status p.buttons button.options {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+IDxzdmcgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiBpZD0ic3ZnMiIgdmlld0JveD0iMCAwIDMyIDMyIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiPiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC0xMDIwLjM2MjIpIiBpZD0ibGF5ZXIxIj4gPGNpcmNsZSByPSIzIiBjeT0iMTAzNi4zNjIyIiBjeD0iMTYiIGlkPSJjaXJjbGU0MjkyIiBzdHlsZT0iZmlsbDojMDAwMDAwO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDo1O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiIC8+IDxjaXJjbGUgc3R5bGU9ImZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6NTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZTtzdHJva2Utb3BhY2l0eToxIiBpZD0iY2lyY2xlNDI5OCIgY3g9IjE2IiBjeT0iMTAyNi4zNjIyIiByPSIzIiAvPiA8Y2lyY2xlIHI9IjMiIGN5PSIxMDQ2LjM2MjIiIGN4PSIxNiIgaWQ9ImNpcmNsZTQzMDAiIHN0eWxlPSJmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjU7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MSIgLz4gPC9nPiA8L3N2Zz4g");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
  }

  td.statuscell div.status p.buttons button.options > span {
    font-size: 0;
    border: none;
  }

  td.statuscell div.status p.buttons button.options > span > b {
    display: none;
  }

  #memberContextMenu {
    left: 5px !important;
    top: 50px !important;
    width: calc(100% - 10px);
  }


  h2#addNetworkHeading {
    line-height: 30px;
    background-position: 2rem 50%;
    padding-left: 3.5rem;
  }

  #maintable {
    table-layout: fixed;
  }

  form.addNetworkForm table.form {
    width: 100%;
  }

  form.addNetworkForm table.form .hostname {
    width: 60%;
  }

  form.addNetworkForm table.form .port, form.addNetworkForm table.form .ssl {
    width: 20%;
  }

  form.addNetworkForm table.form input.addNetworkHostnameSelect {
    width: calc(100% - 40px);
  }

  form.addNetworkForm table.form input.addNetworkPort {
    width: calc(100% - 20px);
  }

  form.addNetworkForm span.addNetworkafterSSL {
    font-size: 0;
  }

  form.addNetworkForm table.form td, form.addNetworkForm table.form th {
    width: 50%;
  }

  form.addNetworkForm table.form .input,
  form.addNetworkForm table.form textarea.addNetworkChannels {
    width: calc(100% - 10px);
  }

  #mainwrapper {
    overflow-y: auto;
  }
}